<div class="contact-container bg-light d-flex justify-content-center align-items-center p-4">
  <div class="container">
    <form method="POST" action="https://getform.io/f/4811279d-a32d-48f3-a6b7-9bdbf9d1181c" class="w-100">
      <div class="pb-4">
        <h1 class="display-4 font-weight-bold text-primary">Contact</h1>
        <p class="text-secondary">// Submit the form below or shoot me an email</p>
      </div>
      <div class="form-group row">
        <div class="col-sm-5">
        <input class="form-control mb-4" type="text" placeholder="Name" name="name" />
        <input class="form-control mb-4" type="email" placeholder="Email" name="email" />
        <textarea class="form-control mb-4" name="message" rows="5" placeholder="Message"></textarea>
      </div>
      </div>
      <button class="btn btn-primary btn-lg mb-4" type="submit">Let's Collaborate</button>
    </form>
  </div>
  </div>
  